body{
background: url(https://s-media-cache-ak0.pinimg.com/originals/5e/6c/e4/5e6ce47f24349d7a13bd2d8e69350da5.jpg);
	margin: 0;
	padding: 0;
	font-family:'Arial', serif;
	font-size: 22px
}
.nav{
	background-color: powderblue;
	color: black;
	list-style: none;
	text-align: center;
	padding: 30px 0 15px 0;
}

.nav > li{
	display: inline-block;
	padding: 0 25px 0 25px;
}

.nav > li > a{
	text-decoration: none;
	color: white;
}

.nav > li > a:hover{
	color: black;
}
}
html>

<head>
<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="Deer.JPG">
    <img src="Deer.JPG" alt="Deer" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="Hanazono.JPG">
    <img src="Hanazono.JPG" alt="Hanazono" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="Hiroshima.JPG">
    <img src="Hiroshima.JPG" alt="Hiroshima" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

</body>
</html>